.bg-title-h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration-line:underline;
}  

.bg-sub-title{
    background-color:rgba(13,110,253,.25);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 60px;
    
}

body{
    background-color: gainsboro;
}